<!DOCTYPE html>
<html>
<head>
  <title>todo-marty</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
  <div id="app">
    <%- body %>
  </div>
  <%- state %>
  <script type="text/javascript" src="//localhost:9009/assets/main.js"></script>
</body>
</html>
