<!DOCTYPE html>
<html>
<head>
  <title>todo-marty</title>
</head>
<body>
  <div id="app">
    <%- body %>
  </div>
  <script type="text/javascript" src="//localhost:8888/build/app.js"></script>
</body>
</html>
